
// SASS - Smartscan Website

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Colors
// -----------------------------------------------------------------------------------------------------------------------------------

$color: #EE7601; // Orange #EE7601
$color-light: lighten($color, 10%);
$color-lightest: lighten($color, 30%);
$color-dark: darken($color, 10%);

$color-accent: #78B732; // Green #78B732 
$color-accent-light: lighten($color-accent, 10%);
$color-accent-lightest: lighten($color-accent, 30%);
$color-accent-dark: darken($color-accent, 10%);

$color-support: #796155; // Brown #796155
$color-support-light: lighten($color-support, 10%);
$color-support-lightest: lighten($color-support, 40%);

$color-back: #E9E0DB; // Brown #E9E0DB
$color-back-light: lighten($color-back, 10%);
$color-back-dark: darken($color-back, 10%);
$color-back-darkest: darken($color-back, 30%);

$color-text-white: #e5e5e5;


// -----------------------------------------------------------------------------------------------------------------------------------
// --- HTML5 Boilerplate
// -----------------------------------------------------------------------------------------------------------------------------------

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: $color; color: #fff; text-shadow: none; }
::selection { background: $color; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; outline-color: $color; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Typography
// -----------------------------------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { color: $color; }
a:visited { color: $color; }
a:hover { color: $color-light; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
a:link, a:visited, a:active, a:hover { text-decoration: none; }

p { margin: 0;}

body { font: 13px 'Droid Sans', sans-serif; line-height: 20px; background: #353535 url('../img/right_strip_pattern.png') repeat; }

.droid-sans { font-family: 'Droid Sans', sans-serif;}
.bree-serif { font-family: 'Bree Serif', serif;}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- General
// -----------------------------------------------------------------------------------------------------------------------------------

@mixin round($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

div#container {
  background: $color-back-light url('../img/vegetables-bg.png') center -250px;
  border-bottom: 1px solid #1E1E1E;
}

div#main {
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 960px;
  overflow: hidden;
}

div#main-profile {
  margin: 0 auto;
  border-left: 1px solid $color-back;
  padding: 30px 30px 200px 30px;
  max-width: 900px;
  overflow: hidden;
  background: url('../img/content-bg.png');
}

.column-left {
  float: left;
  background: url('../img/content-bg.png');
  overflow: hidden;
  width: 598px;
  padding: 30px;
  border: 1px solid $color-back-dark;
}

.column-right {
  float: right;
  width: 208px;
  margin-left: 30px;
  background: url('../img/content-bg.png');
  overflow: hidden;
  padding: 30px;
  border: 1px solid $color-back-dark;
}

.column-right-title {
  margin-bottom: 20px;
}

.profile-left-column {
  width: 120px;
  margin-right: 30px;
  text-align: left;
  float: left;
}

.profile-right-column {
  float: right;
  overflow: hidden;
  width: 750px;
}

input[type=text], input[type=password] {
  display: block;
  width: 300px;
  height: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #444;
  border: 1px solid #999;
  -moz-box-shadow: 0 1px 3px #ddd inset;
  -webkit-box-shadow: 0 1px 3px #ddd inset;
  padding-left: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Buttons
// -----------------------------------------------------------------------------------------------------------------------------------

@mixin button {
  @include round;
  font-weight: bold;
  color: white !important;
  line-height: 100%;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px;
  -webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0 inset,rgba(0,0,0,0.05) 0 1px 2px;
  -moz-box-shadow: rgba(255,255,255,0.3) 0 1px 0 inset,rgba(0,0,0,0.05) 0 1px 2px;
  box-shadow: rgba(255,255,255,0.3) 0 1px 0 inset,rgba(0,0,0,0.05) 0 1px 2px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
}

@mixin button-bg {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color-light), color-stop(100%, $color));
  background-image: -webkit-linear-gradient(top, $color-light, $color);
  background-image: -moz-linear-gradient(top, $color-light, $color);
  background-image: -o-linear-gradient(top, $color-light, $color);
  background-image: -ms-linear-gradient(top, $color-light, $color);
  background-image: linear-gradient(top, $color-light, $color);

  &:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color-lightest), color-stop(100%, $color));
    background-image: -webkit-linear-gradient(top, $color-lightest, $color);
    background-image: -moz-linear-gradient(top, $color-lightest, $color);
    background-image: -o-linear-gradient(top, $color-lightest, $color);
    background-image: -ms-linear-gradient(top, $color-lightest, $color);
    background-image: linear-gradient(top, $color-lightest, $color);    
  }
}

@mixin button-bg-accent {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color-accent-light), color-stop(100%, $color-accent));
  background-image: -webkit-linear-gradient(top, $color-accent-light, $color-accent);
  background-image: -moz-linear-gradient(top, $color-accent-light, $color-accent);
  background-image: -o-linear-gradient(top, $color-accent-light, $color-accent);
  background-image: -ms-linear-gradient(top, $color-accent-light, $color-accent);
  background-image: linear-gradient(top, $color-accent-light, $color-accent);

  &:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color-accent-lightest), color-stop(100%, $color-accent));
    background-image: -webkit-linear-gradient(top, $color-accent-lightest, $color-accent);
    background-image: -moz-linear-gradient(top, $color-accent-lightest, $color-accent);
    background-image: -o-linear-gradient(top, $color-accent-lightest, $color-accent);
    background-image: -ms-linear-gradient(top, $color-accent-lightest, $color-accent);
    background-image: linear-gradient(top, $color-accent-lightest, $color-accent);
  }
}

.button {
  @include button;
  @include button-bg;
  padding: 10px 15px;
  border: 1px solid $color-dark;
}

.button-accent {
  @include button;
  @include button-bg-accent;
  padding: 10px 15px;
  border: 1px solid $color-accent-dark;
}

.button-accent-big {
  @include button;
  @include button-bg-accent;
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid $color-accent-dark;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Header
// -----------------------------------------------------------------------------------------------------------------------------------

header {
  height: 50px;
  background: $color url('../img/right_strip_pattern.png') repeat;
}

div#header-nav {
  position: absolute;
  top: 0px;
  width: 100%;
  margin-top: 8px;
  background: #353535 url('../img/bg-header.png') repeat-x;
  border-bottom: 1px solid darken(#353535, 30%);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

div#header-nav-inner {
  margin: 0 auto;
  max-width: 960px;
  height: 45px;
  padding: 0 20px;
}

div#logo {
  
  h1 {
    float: left;
    height: 45px;
    font-size: 13px !important;
  }

  a {
    font-weight: bold;
    color: $color-text-white;
    text-decoration: none;
    line-height: 45px;
    display: block;
  }

  span {
    color: $color;
  }
}

nav#navigation-main {

  ul {
    float: right;
    height: 45px;
    font-size: 12px;
  }

  li {
    float: right;
    margin-left: 40px;
  }

  a {
    font-weight: 700;
    color: #F0F0ED;
    text-decoration: none;
    line-height: 45px;
    display: block;

    &:hover {
      color: $color-light;
    }
  }
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Content Header
// -----------------------------------------------------------------------------------------------------------------------------------

div.content_title {
  height: 90px;
  border-bottom: 2px solid $color-back;
  background: $color-back-light url('../img/right_strip_pattern.png') repeat;
}

div.content_title_wrapper {
  margin: 0 auto;
  line-height: 100px;
  max-width: 960px;
  height: 100%;

  img {
    float: left;
    margin: 43px 30px 0px 0px;
  }

  h1 {
    float: left;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
    text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0px;
    height: 100%;
  }
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Landing Page Header
// -----------------------------------------------------------------------------------------------------------------------------------

div#landing-header {
  height: 600px;
  border-bottom: 2px solid $color-back;
  overflow: hidden;
  background: #FFFFFF url('../img/right_strip_pattern.png') repeat;
  background-image: url('../img/right_strip_pattern.png'), -moz-radial-gradient(50% 50%, circle farthest-corner, #FFFFFF, #FFFFFF 40%);
  background-image: url('../img/right_strip_pattern.png'), -webkit-radial-gradient(50% 50%, farthest-corner, #FFFFFF, #FFFFFF 40%);
  background-image: url('../img/right_strip_pattern.png'), -o-radial-gradient(50% 50%, circle farthest-corner, #FFFFFF, #FFFFFF 40%);
  background-image: url('../img/right_strip_pattern.png'), -ms-radial-gradient(50% 50%, circle farthest-corner, #FFFFFF, #FFFFFF 40%);
  background-image: url('../img/right_strip_pattern.png'), radial-gradient(50% 50%, circle farthest-corner, #FFFFFF #FFFFFF 40%)
}

div#welcome {
  margin: 0 auto;
  width: 960px;
  text-align: center;

  div#welcome-image img {
    margin-top: 20px;
  }

  div#welcome-text {
    width: 918px;
    background-color: $color-back-light;
    padding: 20px;
    border: 1px solid $color-back;
    overflow: hidden;
    margin-top: -20px;

    a {
      float: right;
    }

    p {
      float: left;
      font-family: 'Bree Serif', serif;
      font-weight: 400;
      font-size: 18px;
      margin-top: 20px;
    }
  }
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Landing Page Content
// -----------------------------------------------------------------------------------------------------------------------------------

div#landing-content {

  h1 {
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;

    img {
      margin-right: 30px;
    }
  }

  div {
    float: left;
    width: 258px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid $color-back-dark;
  }

  div.landing-content-box-left {
    margin-right: 15px;
  }

  div.landing-content-box-middle {
    margin-left: 15px;
    margin-right: 15px;
  }

  div.landing-content-box-right {
    margin-left: 15px;
  }

}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Login / Register
// -----------------------------------------------------------------------------------------------------------------------------------

form p {
  clear: both;
  float: left;
  margin: 0;
}

.form-item {
  position: relative;
  margin-bottom: 30px;

  label {
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    left: 11px;
    color: #999;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  }
}

.form-item-profile {
  padding-bottom: 60px;

  label {
    float: left;
    text-align: right;
    padding-right: 30px;
    height: 30px;
    width: 70px;
    line-height: 30px;
  }

  input {
    float: left;
  }
}

.form-footer {
  width: 100%;
  border-top: 1px solid #CACACA;
  padding-top: 20px;
}

.checkbox_remember {
  margin-left: 40px;
}

.label_remember {
  display: inline;
  margin-left: 10px;
}

.error {
  float: left;
  margin-left: 15px;
  margin-top: 1px;
  height: 24px;
  line-height: 24px;
  background-color: #ed330f;
  border-radius: 3px;
  color: white;
  padding: 2px 15px;
  position: relative;
}

.error::before {
    content: "\25C0";
    color: #ed330f;
    position: absolute;
    top: 3px;
    left:-6px;
}

div#infoMessage {
  font-weight: bold;
  color: #ed330f;
}

.form-info {
  margin-bottom: 20px;
}

.profile-content .button-accent {
  float: left;
}

.edit-cancel {
  float: left !important;
  margin-left: 30px;
}

.edit-profile {
  float: right !important;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Profile General
// -----------------------------------------------------------------------------------------------------------------------------------

input[type=search] {
  display: block !important;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #444;
  border: 1px solid #999;
  -moz-box-shadow: 0 1px 3px #ddd inset;
  -webkit-box-shadow: 0 1px 3px #ddd inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.search {
  float: left;
  width: 660px;
  margin-bottom: 30px;
  height: 45px;
  outline: none;
  padding-left: 20px;
  background-image: url(../img/search-icon-small.png);
  background-position: 97% center;
  background-repeat: no-repeat;
  color: #353535;
  background-color: #FFFFFF;
}

.profile-content {
  background-color: #FFFFFF;
  padding: 30px;
  border: 1px solid #cacaca;
  overflow: hidden;
  margin-bottom: 30px; 
}

.profile-content img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.profile-content a {
  float: right;
  padding-left: 30px;
  padding-right: 30px;
}

div#profile-info {
  float: left;
  width: 100%;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Profile Navigation
// -----------------------------------------------------------------------------------------------------------------------------------

nav#side-nav {
  width: 268px;
  margin-right: 30px;
  text-align: left;
  float: left;
}

nav#side-nav .side-nav-header {
  font-family: 'Droid Sans' sans-serif;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  background-color: $color-support-lightest;
  border: 1px solid #CACACA;
  line-height: 24px;
}

nav#side-nav .selected-header {
  background-color: $color;
  border: 1px solid #353535;
}

.selected {
  font-weight: bold;
}

.arrow-selected {
  background-color: #FFFFFF;
  background-image: url(../img/arrow-selected.png);
}

.arrow-default {
  background-color: #F9F9F9;
  background-image: url(../img/arrow-default.png);
}

nav#side-nav .side-nav-header a {
  display: block;
  color: #FFFFFF;
}

nav#side-nav .side-nav-link a {
  display: block;
  position: relative;
  color: #353535;
  line-height: 24px;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  border-left: 1px solid $color-support-lightest;
  border-right: 1px solid $color-support-lightest;
  background-position: 95% center;
  background-repeat: no-repeat;
}

nav#side-nav .side-nav-link a:hover {
  background-color: $color-accent-lightest;
}

nav#side-nav .nav-border {
  border-bottom: 1px solid $color-support-lightest;
}




nav#profile-nav ul li {
  float: right;
  background: rgba(233, 224, 219, 0.60);
  height: 86px;
  position: relative;
  margin-top: 4px;
}

nav#profile-nav a {
  display: block;
  padding: 15px 40px 0px 40px;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0px;
  position: relative;
  height: 72px;
}

nav#profile-nav img {
  position: absolute;
  top: -20px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

nav#profile-nav a:hover {
  background: rgba(238, 118, 1, 0.40);
}

nav#profile-nav .selected {
  background: rgba(238, 118, 1, 0.60);
}

nav#profile-nav ul li a.selected:after {
  background: url('../img/selected-arrow.png');
  background-repeat:no-repeat;
  background-position:center;
  content:"";
  position:absolute;
  bottom: -8px;
  width:15px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  height:8px;
  margin:0 auto;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Profile Lists
// -----------------------------------------------------------------------------------------------------------------------------------

.newlist-button {
  float: right;
  height: 22px;
  width: 22px;
  font-size: 28px;
  text-align: center;
  line-height: 100%;
}

.lists-overview {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid $color-support-lightest;
}

.lists-overview li {
  display: block;
  position: relative;
  border-bottom: 1px solid $color-support-lightest;
  line-height: 24px;
}

.lists-overview li:last-child {
  border-bottom: none;
}

.lists-overview li a {
  display: block;
  padding: 10px 20px 10px 20px;
  background-image: url(../img/arrow-default.png);
  background-position: 97% center;
  background-repeat: no-repeat;
  color: #353535;
  background-color: #FFFFFF;
}

.lists-overview li a span {
  position: absolute;
  right: 60px;
  width: 30px;
  background-color: $color-accent;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #353535;
}

.lists-overview span.delete {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.lists-overview span.delete a{
  display: block;
  padding: 10px 20px 10px 20px;
  background: none;
}

.lists-overview li a:hover {
  background-color: $color-accent-lightest;
  cursor: pointer;
}

.lists-overview li a:hover + span.delete {
  display: block;
  background-color: $color-accent-lightest;
}

.lists-overview span.delete:hover {
  display: block;
}

.lists-overview span.delete:hover a {
  background-color: #FFFFFF;
  cursor: pointer;
}

div.list-header {
  padding: 0px 0px 50px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-support-lightest;
}

.list-header p {
  float: left;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #555555;
}

.list-header a {
  float: right;
}

.feedback {
  clear: both;
  line-height: 40px;
  color: #ed330f;
}

.profile-left-column select{
  width: 100%;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Profile New List
// -----------------------------------------------------------------------------------------------------------------------------------

div.newlist-top {
  width: 100%;
  margin-bottom: 30px;

  .search {
    float: left;
    width: 632px;
    border: 1px solid $color-support-lightest;
  }
}

div.newlist-bottom {
  width: 100%;
}

div.newlist-left-column {
  float: left;
  width: 632px;
}

div.newlist-right-column {
  float: left;
  width: 236px;
  margin-left: 30px;

  select {
    width: 100%;
    margin-top: 20px;
  } 
}

div#list-categories {
  clear: both;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

ul.categories-overview {
  list-style: none;
  width: 100%;
  margin-top: 20px; 

  li {
    float: left;
    height: 150px;
    width: 186px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border: 2px solid $color-support-lightest;
    overflow: hidden;

    &:hover {
      border: 2px solid $color;
    }

    figure {
      display: block;
      position: relative;
      float:left;
      overflow: hidden;

      &:hover figcaption p {
        color: $color;
      }

      img {
        position: relative;
        height: 150px;
      }
    }

    figcaption {
      position: absolute;
      background: rgba(0,0,0,0.75);
      padding: 10px 20px; 
      width: 100%; 
      color: $color-text-white;
      bottom: 0;
      left: 0;

      p {
        color: #FFFFFF;
        font-weight: bold;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: $color-accent-lightest;
      }
    }
  }

  .category-left {
      margin-right: 15px;
    }

    .category-middle {
      margin-right: 15px;
      margin-left: 15px;
    }

    .category-right {
      margin-left: 15px;
    } 
}

div#newlist-top-basket {
  overflow: hidden;
  float: left;
  background-color: #FFFFFF;
  padding: 20px 30px;
  border: 1px solid #CACACA;
  width: 176px;
  height: 23px;
  margin-left: 30px;

  p {
    float: right;
    line-height: 25px;
  }

  p#shopping-basket-price {
    float: left !important;
    color: #353535;
  }

  a {
    float: left;
    margin-top: 30px;
    width: 166px;
    text-align: center;
  }

  span {
    float: right;
    margin-left: 20px;
    display: inline-block;
    height: 25px;
    width: 30px;
    line-height: 25px;
    background-color: $color-accent;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #353535;
  }
}

p.breadcrumb {
  clear: both;
  margin-bottom: 30px;

  a {
    font-weight: bold;
  }
}

img.breadcrumb-bullet {
  padding: 0px 10px;
  margin-top: -2px;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Profile New List Products
// -----------------------------------------------------------------------------------------------------------------------------------

.products-overview {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid $color-support-lightest;

  li {
    display: block;
    position: relative;
    border-bottom: 1px solid $color-support-lightest;
    line-height: 24px;
    padding: 10px;
    background-color: #FFFFFF;

    &:last-child {
      border-bottom: none;
    }

    img {
      width: 100px;
      margin: 0px 60px 0px 20px;
    }

    p {
      display: inline-block;
      vertical-align: middle;
      width: 250px;
    }

    span {
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
    }

    span.product-price-amount {
      font-size: 11px;
      font-weight: normal;
      margin-left: 20px;
    }

    span.product-amount {
      float: right;
      font-size: 16px;
      margin-top: 10px;
      margin-right: 45px;
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 25px;
      background-color: $color-accent;
      text-align: center;
      color: #FFFFFF;
      border: 1px solid #353535;
      line-height: 40px;
    }

    span.product-total-price {
      position: absolute;
      right: 160px;
      top: 28px;
    }

    .button-accent {
      position: absolute;
      right: 30px;
      top: 20px;
      z-index: 2;
      width: 20px;
      font-size: 28px;
      text-align: center;
      height: 20px;
    }
  }
}

p.products-empty {
  color: #ed330f;
}

.addSomeProd {
  position: absolute;
  top: 0px;
  right: 150px;
  width: 54px;
  height: 27px;
  margin-top: 25px;

  input {
    border: 1px solid $color-support-lightest;
    color: black;
    height: 33px;
    float: left;
    width: 35px;
    padding: 5px 2px;
    text-align: center;
  }

  .oneMore, .oneLess {
    border: 1px solid $color-support-lightest;
    float: right;
    width: 14px;
    height: 15px;
    background: $color-accent;

    a {
      color: $color-text-white;
      font-size: 12px;
      font-weight: bold;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 100%;
      text-align: center;

      &:hover {
        background-color: $color-accent-light;
      }
    }
  }

  .oneLess {
    border-top: none;
  }
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Footer
// -----------------------------------------------------------------------------------------------------------------------------------

footer {
  height: 100px;
}

div#footer-inner {
  margin: 0 auto;
  max-width: 960px;
  padding-top: 30px;
  font-family: 'Bree Serif', serif;
  font-size: 11px;
  color: #F0F0ED;
}

div#footer-inner ul li {
  list-style: none;
  float: left;
  padding: 0 30px;
  width: 270px;
}

div#footer-inner li.last {
  float: right;
  padding: 0 0 0 0px;
  width: auto;
}

div#footer-inner img {
  float: left;
  padding-right: 30px;
}

div#footer-inner p {
  float: left;
  width: 220px;
}

div#footer-inner a {
  //color: #D74F2C;
  color: $color;
}




div#dialog-confirm {
  display: none;
}

div#dialog-confirm p {
  margin-bottom: 50px;
  font-weight: bold;
}

div#dialog-buttons {
  float: right;
}

div#dialog-buttons a {
  margin-left: 20px;
}

#simplemodal-overlay {
  //background: url('../img/content-bg.png');
  background: #000000;
}

#simplemodal-container {
  background-color: #FFFFFF;
  border: 1px solid #cacaca;
  padding: 30px 30px 20px 30px;
}

#simplemodal-container a.modalCloseImg {
  background:url('../img/icon-cancel.png') no-repeat; /* adjust url as required */
  width: 16px;
  height: 16px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}

// -----------------------------------------------------------------------------------------------------------------------------------
// --- Media Queries / HTML5 Boilerplate
// -----------------------------------------------------------------------------------------------------------------------------------

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
